---
layout: default
title: My Home Page
---

        <section class="posts">
          <ul>
            {% for post in paginator.posts %}
            <li class="posts__item">
              {% if post.external %}<a href="{{ post.external }}" target="_blank">
              {% else %}<a href="{{ post.url }}">{% endif %}
                <h2 class="post__title">{{ post.title }}</h2>
                <span class="post__date">{{ post.date | date: "%B %e, %Y" }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="pagination">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                <a href="/" class="pagination--previous">Previous</a>
              {% else %}
                <a href="/page{{paginator.previous_page}}" class="pagination--previous">Previous</a>
              {% endif %}
            {% else %}
                <span class="pagination--previous">Previous</span>
            {% endif %}
            {% if paginator.next_page %}
                <a href="/page{{paginator.next_page}}" class="pagination--next">Next</a>
            {% else %}
                <span class="pagination--next">Next</span>
            {% endif %}
          </div>
        </section>
